
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: gainsboro;
	font-family: Courier, sans-serif;
}

nav {
	margin: 20px 80px 0;
	display: flex;
	justify-content: space-between;
	align-items: center; 
	color: dimgrey;
}
.pages {
	width: 150px;
	display: flex;
	justify-content: space-between;

	font-size: 20px;
}
a {
	text-decoration: none;
	color: #9fa0ff;
	cursor: pointer;
	width: 50px;
}

a:hover {
  color: #FB88BC;
}

button:hover {
	background-color:  #FB88BC;
	color: #ffffff;
}

#pcCartoon {
	margin: auto;
	padding-bottom: 100px;
	width: 30%;
	animation: rotation 5s infinite;
	animation-timing-function: linear;
}

header {
	margin: 5% 10%;
	text-align: center;
	color: #9fa0ff;
	font-size: 16pt;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.coloursSwitchDiv {
	margin: 0 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #9fa0ff;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	font-size: 15px;
	visibility: hidden;
	width: 200px;
	color: dimgrey;
	position: absolute;
	z-index: 1;
	top: 5px;
	left: 90%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

h1 {
	margin-top: 60px;
}
.email {
	color: #3E3B3F;
}
section {
	margin: 25% 10%;;
	margin-top: 0;
	margin-bottom: 2px;
	width: 80%;
	color: #3E3B3F;
	line-height: 1.6;
	font-size: 13pt;
}
h2 {
	margin-left: 10%;
	margin-top: 50px;
	margin-bottom: 0px;
	color: #9fa0ff;
	font-size: 30pt;
}
.date {
	font-size: 11px;
}
article {
	margin: 5% 10%;
	color: #3E3B3F;
	line-height: 1.5;
	font-size: 13pt;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
img {
	border-radius: 8px;
	max-width: 45%;
	height: auto;
}
.blackAndWhite {
	filter: grayscale(100%);
}
.projectInfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 20px;
	color: dimgrey;
	width: 150px;
}
.projectTitle {
	cursor: pointer;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	min-width: 30px;
}
.navTitle {
	font-size: 20px;
}
.projectDescription {
	max-width: 400px;
	min-width: 150px;
	margin: 0 40px;
}

.smallTitle {
	color: dimgray;
}
.subtleTitle{
	color: dimgrey;
	font-weight: lighter;
	font-size: small;
	margin-bottom: 10px;
}

.textContent p {
	margin-top: 0;
	margin-bottom: 0;
}
.textContent {
	display: flex;
	justify-content: space-between;
}
button {
	border: none;
	border-radius: 5px;
	color: #3E3B3F ;
	background-color: white;
	margin-top: 10px;
	padding: 10px;
}
.foot {
    width: 100%;
    color: white;
    text-align: center;
	display: flex;
	justify-content: center;
}
.footInfo {
	width: 500px;
	margin-bottom: 30px;
}

.icon {
	font-size: 20px;
}

.bow {
	font-size: 20px;
}

#close {
	display: none;
}
#modalPopup, #modalPopupPWWorld , #modalPopupPlanets, #modalPopupSnakeSweeper,
#modalPopupAcademyPortal,  #modalPopupToDo {
	width: 80%;
	height: 60%;
	background-color: gainsboro;
	border: 1px solid #9fa0ff;
	border-radius: 10px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: none;
	position: fixed;
}
.modalPosition {
	text-align: center;
	vertical-align: middle;
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.modalDivs {
	width: 80%;
	height: 60%;
	padding: 40px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	vertical-align: middle;
	position: fixed;
}

.modalDivs img {
	max-width: 50%;
}

.modelContent {
	margin-left: 30px;
	width: 80%;
	vertical-align: middle;}

.button {
	padding: 10px;
}

#modalPopup p {
	text-align: left;
}


@media screen and (max-width: 740px){
	article {
		flex-direction: column;
	}
	.projectDescription {
		margin: 0;
		width: 100%;
	}
	img { 
		order: -1;
		margin: 0 auto;
		cursor: pointer;
		max-width: 100%;
	}
	.textContent {
		margin-top: 20px;
	}

	#modalPopup {
		height: 80%;
	}

	.modelDivs {
		flex-direction: column;
		color: #9fa0ff;
		margin: 10px;
	}

	.projectTitle {
		width: 30px;
	}
	#pcCartoon {
		animation: none;
		width: 40%;
		padding-bottom: 0;
		padding-top: 20px;
	}
}

@media screen and (max-width: 390px){
	nav {
		flex-direction: column;
		margin-left: 40px;
		text-align: center;
	}
	.pages {
		display: flex;
		flex-direction: column;
	}
	.pages a {
		text-align: center;
		width: 100%;
		font-size: 20px;
	}
	a {
		text-decoration: none;
	}
	.title {
		display: none;
	}
	header {
		color: #FB88BC;
		font-size: 14pt;
	}
	#pcCartoon {
		animation: none;
		width: 60%;
		padding-bottom: 0;
		padding-top: 20px;
	}
}

@media screen and (max-width: 600px){

}

@media screen and (min-width: 950px){
	.about {
		margin: 0 20% 0 10%;
	}
	body {
		margin: 50px;
	}
	header {
		margin: 10% 10%;
	}
}

@keyframes rotation {
	100% {transform: rotate(360deg);}
}
