* {
	box-sizing: border-box;
	
}
body {
	margin: 0;
	background-color: #F9F5E3;
	font-family: Verdana, sans-serif;
}
nav {
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center; 
	color: #FB88BC;
}
.pages {
	width: 150px;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: #D685FF;
	cursor: pointer;

}

@media screen and (max-width: 380px){
	nav {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
	}
	.pages {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	a {
		padding: 5px;
	}
	.title {
		display: none;
	}
}